<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- include('./partials/css'); %>

  <title>Travel Experts</title>

</head>
<body>
  
  <%- include('./partials/nav'); %>


    <p>TEST</p>



  <%- include('./partials/footer'); %>

  <script src="toggle.js"></script> 
</body>
</html>
