<%- include('./partials/head'); %>
<%- include('./partials/css'); %>
<%- include('./partials/nav'); %>
<body>
  <div class="login">
    <form id="login"  action="https://formspree.io/meqrpezq" method="post">
      <legend>LOGIN</legend>
      <p>Mandatory fields marked with *</p>
      <label for="mail">E-mail:</label> 
        <span class="required"> * </span>
          <input type="email" id="mail" name="user_email">       
      <label for="pwd">Password:</label> 
        <span class="required"> * </span>
          <input type="password" pattern=".{8,}" id="pwd" name="pwd" required title="8 characters minimum">
          <!-- note: minlength is unknown/not available with input type-password -->
      <p>Password minimum 8 characters</p>
      <div class="button"><button type="submit">SUBMIT</button></div>
    </form>
  </div>
  <script src="js/toggle.js"></script> 
  <%- include('./partials/footer'); %>
</body> 
</html>



