/*---------------------------*/
/* ---- Gallery Section ---- */
/*---------------------------*/
#banner_1 {
  padding: 25px 0px 25px 0px;
  text-align: center;
  
  font-size: 35px;
  font-family: 'Montserrat Alternates', sans-serif;
  
  color: white;
  background-color: coral;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
 
  max-width: 1000px;
  margin: auto;
  padding: 1px;
  
  text-align: center;
  font-variant: small-caps;
}

.gallery img {
  margin: 1em; 
}

.gallery a {
  font-size: 18px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;

  color: teal;
}

/*----------------------------*/
/*---- Destinations Page ---- */
/*----------------------------*/

figcaption {
  font-size: 30px;
  text-align: center;
  font-family: 'Roboto', sans-serif;

  color: white;
  background-color: teal;
}

figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  padding: 5px;
  border: 2px solid teal;
  text-decoration: none;
}

figure li {
  padding-left: 10px;
  margin-top: 10px;
  line-height: 2;

  font-size: 16px;
  font-variant: small-caps;
  font-family: 'Roboto', sans-serif;
  
  color: black;
}
