/*---------------------------*/
/* ---- Gallery Section ---- */
/*---------------------------*/
#banner_1 {
  padding: 25px 0px 25px 0px;
  text-align: center;
  
  font-size: 35px;
  font-family: 'Montserrat Alternates', sans-serif;
  
  color: white;
  background-color: coral;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  max-width: 1000px;
  margin: auto;
  padding: 1px;
  font-variant: small-caps;
}

.gallery img {
  margin: 1em; 
}

.gallery a {
  text-decoration: none;
  font-size: 18px;
  color: teal;
  font-family: 'Roboto', sans-serif;
}

/*----------------------------*/
/*---- Destinations Page ---- */
/*----------------------------*/

figcaption {
  font-size: 30px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: teal;
  color: white
}

figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  
  padding: 5px;
  border: 2px solid teal;
}

figure ul li {
  padding-left: 10px;
  margin-top: 10px;
  text-decoration: none;

  line-height: 3;
  font-size: 16px;
  font-variant: small-caps;
  font-family: 'Roboto', sans-serif;
  
  color: black;
}
