/*-------------------------------*/
/* ------ Gallery Section ------ */
/*-------------------------------*/
#banner_1 {
  padding: 20px 0px 20px 0px;
  background-color: coral;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
 
  max-width: 1000px;
  margin: auto;
  padding: 1px;
}

.gallery img {
  margin: 1em; 
  border: 3px solid coral;
}

/*---------------------------------*/
/* ------ Destination  Page ------ */
/*---------------------------------*/
figcaption {
  background-color: teal;
}

figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  padding: 5px;
  border: 3px solid teal;
}

figure li {
  padding-left: 20px;
}

figure p {
  padding-left: 10px;
  margin-top: 10px;
}
