/* -------------------------- */
/* ------ Comment Form ------ */
/* -------------------------- */
.container {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;

  align-items: center;
  overflow: hidden;
} 

.container form {
  margin: 5px;
  width: 400px;

  border: 5px solid teal;
  border-radius: 1em;
}

.container legend {
  margin-top: 5px;
}

.container label {
  margin: 5px;
  width: 130px;

  padding-bottom:  5px; 
  display: inline-block;
}

.container input, textarea { 
  width: 200px;
  border: 1 px solid #999;
} 

.container textarea {
  height: 5em;
  vertical-align: top;
  overflow: auto; 
}

input.error {
  border-color: red;
}

button {
  padding: 5px 5px 5px 5px;
  margin: 10px;
  font-size: 16px;

  color: white;
  background-color: teal;
 
}
/* ------------------------ */
/* ------ Login Form ------ */
/* ------------------------ */
.login {
  height: 70vh;
  
  display:flex;
  justify-content: center;
  align-items: center;
}

.login form {
  width: 450px;
  margin-top: 250px;
  margin-bottom: 240px;

  padding: 1.5em;
  border-radius: 1em;
  border: 5px solid teal;

  background-color: rgba(122, 109, 105, 0.13); 
}

.login label {
  margin: 10px;
  padding-top: 15px;
  display: inline-block;
}
 
.login input, textarea { 
  width:  160px; 
  height: 25px;
  padding-bottom: 10px;

  border: 1 px solid #999;
} 

.login p {
  margin-top: 20px;
}
/* Extends the email textarea to match up with the login */
#mail {
  width: 200px;
}
/* centers the submit button */
.login button {
  margin-left: 145px;
}

/* ------------------------------- */
/* ------ Registration Form ------ */
/* ------------------------------- */
.register {
  display:flex;
  justify-content: center;
  overflow: hidden;

  height: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.register form {
  width: 450px;
  border-radius: 1em;
  border: 5px solid teal;

  background-color: rgba(122, 109, 105, 0.13); 
}

.register legend {
  padding-top: 15px;
  padding-bottom: 10px;
}

.register label {
  margin: 10px;
  padding-top: 5px;
  display: inline-block;
}

.register p {
  padding-top: 5px;
}

.register input, textarea { 
  width:  155px; 
  height: 25px;
  margin-right: 5px;
    
  border: 1 px solid #999;
} 
/* Colors the asterix red */
span.required {
  color: red;
}
/* Centers the submit button */
/* .register button {
  margin-right: 135px;
} */

