
/* Resets */
* {
  margin: 0; 
  padding: 0px;
  box-sizing: border-box;
}

/*-------------------------------*/
/* ------ Navigation Bar  ------ */
/*-------------------------------*/
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  justify-content: space-evenly;
  overflow: hidden;
  
  background-color: coral;
}

nav a {
  margin: auto;
  padding: 5px;
}
nav a.current {
  background:darkblue;
  color:white;
}

a:hover {
  background-image: linear-gradient(teal, lightblue);
} 

a.current {
  background-image: linear-gradient(teal, lightblue);
} 

/*----------------------------*/
/* ------ Hero Section ------ */
/*----------------------------*/
header {
  min-height: 900px;
  overflow: hidden;

  background-image: url(https://picsum.photos/id/16/1000/1250);
  background-position: bottom;
  background-size: cover;
}

/* Announcement text and sign up link */
header h1  {
  margin-top: 35px;
}

header p {
  margin-top: 40px;
}

header p:hover {
  color: coral;
 }

/*--------------------------------------*/
/* ------ Contact US Information ------ */
/*--------------------------------------*/
.container {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;

  align-items: center;
  overflow: hidden;

  background-color: rgba(122, 109, 105, 0.322); 
} 

.container ul {
  padding: 10px;
  list-style: none;

  border: 5px solid teal;
}

#contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  align-content: center;
  padding: 20px 0px 20px 0px;
  text-decoration: none;

  background: coral;
}
/*----------------------------------------*/
/* ------ Styling for the 404 page ------ */
/*----------------------------------------*/
h2 {
  margin-top: 100px;
  height: 55vh;
}

/*----------------------*/
/* ------ Footer ------ */
/*----------------------*/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;

  background: coral;
} 

#footerYear {
  display: flex;
  align-content: center;
}

/*---------------------------------------------------------------------*/
/* - Necessary to view the home page gallery with a smaller viewport - */
/*---------------------------------------------------------------------*/
@media (orientation: portrait) {
  .gallery {
    flex-wrap: wrap;
    width: 250px;
  }
}

/*---------------------------*/
/* ------ Menu Toggle ------ */
/*---------------------------*/
nav ul {
  display: none;
}

.visible {
  display: block;
}

@media (orientation: landscape) {
  /* Applies these styles when the screen is in horizontal nav on desktop */
  nav ul {
    display: flex; 
  }

  h4 {
    padding: 10px;
  }

  nav ul li {
   /* Gallery items will grow to fill any empty space equally. */
    flex: auto;
  }

  /* Don't show the menu on desktop */
  nav button {
    display: none;
  }
}

