@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

/* Resets */
* {
  margin: 0; 
  padding: 0px;
  box-sizing: border-box;
}

/* Layout for the page */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat Alternates', sans-serif;
}

body {
  line-height: 1.2;
  letter-spacing: 5px;
  font-variant: small-caps;
  
  background-color: rgba(122, 109, 105, 0.322); 
}

/*----------------------------------*/
/* ---- Navigation Bar Section ---- */
/*----------------------------------*/
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  
  overflow: hidden;
  text-align: center;
  text-decoration: none;

  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Montserrat Alternates', sans-serif;

  background-color: coral;
}

nav ul li {
  font-size: 16px;
  list-style: none;
}

nav a {
  margin: auto;
  text-decoration: none;
  padding: 5px;
  color: white;
}

nav h1 {
  font-size: 45px;
  margin-bottom: 10px;
  color: white;
}

a:hover {
  background-image: linear-gradient(teal, lightblue);
} 

h4:hover {
  background-image: linear-gradient(teal, lightblue);
} 

a:active {
  background-image: linear-gradient(teal, lightblue);
}

/* .current {
  background-color: teal
} */

/*------------------------*/
/* ---- Hero Section ---- */
/*------------------------*/

header {
  min-height: 850px;

  background-image: url(https://picsum.photos/id/16/1000/1250);
  background-position: bottom;
  background-size: cover;

  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

/* Announcement text, sign up link */

header h1  {
  margin-top: 40px;

  font-size: 55px;
  text-align: center;

  color: white;
}

header a {
  text-decoration: none;
}

header p {
  margin-top: 50px;

  font-size: 60px;
  text-align: center;

  color: white;
}

header p:hover {
  color: coral;
 }

/*---------------------------*/
/* ---- Gallery Section ---- */
/*---------------------------*/

#banner_1 {
  padding: 25px 0px 25px 0px;
  text-align: center;
  
  font-size: 35px;
  font-family: 'Montserrat Alternates', sans-serif;
  
  color: white;
  background-color: coral;
}

/* Gallery linked to forEach loop in main.js file */

.gallery {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  max-width: 1000px;
  margin: auto;
  padding: 5px;

}

.gallery img {
  margin: 2em; 
}

.gallery a {
  text-decoration: none;
  font-size: 12px;
}

figure {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 5px solid teal;
  font-variant: small-caps;
  font-family: 'Roboto', sans-serif;
}

figcaption {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: teal;
}

 figure p {
  font: 16px;
 
  color: blue;

}

/*------------------------------------------*/
/* ---- Contact US Information Section ---- */
/*------------------------------------------*/
.container {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;

  align-items: center;
  overflow: hidden;

  font-family: 'Roboto', sans-serif;

  background-color: rgba(122, 109, 105, 0.322); 
} 

.container ul {
  padding: 10px;
  list-style: none;

  line-height: 1.5;
  font-size: 18px;

  border: 5px solid teal;
}

#contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  align-content: center;
  padding: 20px 0px 20px 0px;
  text-decoration: none;

  font-size: 30px;
  font-family: 'Montserrat Alternates', sans-serif;

  color:white;
  background: coral;
}

/*--------------------------*/
/* ---- Footer Section ---- */
/*--------------------------*/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;

  text-align: center;
  font-size: 20px;
  font-family: 'Montserrat Alternates', sans-serif;

  color:white;
  background: coral;
} 

#footerYear {
  font-size: 18px;
}

/*----------------------------------------------------------------------*/
/* ---- Necessary to view the home page gallery with a smaller viewport */
/*----------------------------------------------------------------------*/
@media (orientation: portrait) {
  .gallery {
    flex-wrap: wrap;
    width: 250px;
  }
}

/*--------------------------------*/
/* ----- Menu Toggle Section ---- */
/*--------------------------------*/
nav ul {
  display: none;
}

.visible {
  display: block;
}

@media (orientation: landscape) {
  /* Apply these styles when the screen is in horizontal nav on desktop */
  nav ul {
    display: flex;
    
  }
  h4 {
    padding: 10px;
  }

  nav ul li {
   /* Gallery items will grow to fill any empty space equally. */
    flex: auto;
  }

  /* Don't show hamburger menu on desktop */
  nav button {
    display: none;
  }
}

/*-------------------------------------------------------------------------------------*/